.Wrapper {

    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Wrapper-header {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 1em;


}

a {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding-inline: 1em;
    box-shadow: 5px 5px 10px gray;
}

table {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid lightcoral;
    box-shadow: 5px 5px 10px gray;
}

.columns {
    padding: 1em;
    font-weight: bold;
    border-bottom: 3px solid lightcoral;
    display: flex;
    gap: 1em;
    background-color: lightgray;


}

td {
    min-width: 180px;
}

.rowsContent {
    padding: 1em;
    border: 1px solid lightcoral;
    display: flex;
    gap: 1em;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.btn {
    border-radius: 0;
    max-width: 100px;
    font-size: 0.8em;
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
}